[defaults]
localhost_warning = False
vault_password_file = ${HOME}/.ansible-vault-pass
collections_paths = ${HOME}/.ansible/collections:/usr/share/ansible/collections

# interpreter_python = auto_silent
interpreter_python = /usr/bin/python3

# facts_modules = community.general
# facts_modules = ansible.builtin.setup

[inventory]
inventory_unparsed_warning = False

[privilege_escalation]
become = true
become_ask_pass = false
