# Ignore everything by default
*

# Whitelist dotfiles
!.gitignore
!.bash_profile
!.bashrc
!.bash_aliases
!.bash_functions

!.wgetrc
!.npmrc
!.nanorc
!.lynxrc
!.editorconfig
!.eslintrc.js
!.curlrc
!.ansible.cfg
!.hgignore_global
!.gitignore_global
!.psqlrc
!.selected_editor

# Config directory
!.config/
!.config/terminal/
!.config/terminal/*
!.config/mc/
!.config/mc/**

.config/mc/hotlist

!.config/lazydocker/
!.config/lazydocker/config.yml
!.config/htop/
!.config/htop/htoprc
!.config/espanso/
!.config/espanso/config/
!.config/espanso/config/default.yml
!.config/espanso/match/
!.config/espanso/match/base.yml

!.config/btop/
!.config/btop/btop.conf

!.config/cheat/
!.config/cheat/conf.yml

!.config/lazygit/
!.config/lazygit/config.yml

!.config/micro/
!.config/micro/settings.json

!.config/neofetch/
!.config/neofetch/config.conf

!.config/crush/
!.config/crush/crush.json

!.config/opencode/
!.config/opencode/config.json

!.config/ripasso/
!.config/ripasso/settings.toml

!.config/zed/
!.config/zed/settings.json

# local/share directory
!.local/
!.local/share/
!.local/share/mc/
!.local/share/mc/syntax/
!.local/share/mc/syntax/*
!.local/share/mc/skins/
!.local/share/mc/skins/*



!.ollama/
!.ollama/config.json


!Library/
!Library/Fonts/
!Library/Fonts/Fira Code Medium Nerd Font Complete Mono Windows Compatible.ttf
!Library/Fonts/Fira Code Light Nerd Font Complete Windows Compatible.ttf
!Library/Fonts/Fira Code Retina Nerd Font Complete.ttf
!Library/Fonts/Fira Code Regular Nerd Font Complete.ttf
!Library/Fonts/monofur bold Nerd Font Complete.ttf
!Library/Fonts/Fira Code Regular Nerd Font Complete Windows Compatible.ttf
!Library/Fonts/Fira Code Bold Nerd Font Complete.ttf
!Library/Fonts/Fira Code Bold Nerd Font Complete Mono.ttf
!Library/Fonts/Fira Code Bold Nerd Font Complete Mono Windows Compatible.ttf
!Library/Fonts/Fira Code Light Nerd Font Complete Mono Windows Compatible.ttf
!Library/Fonts/Fira Code Light Nerd Font Complete.ttf
!Library/Fonts/Fira Code Bold Nerd Font Complete Windows Compatible.ttf
!Library/Fonts/Fira Code SemiBold Nerd Font Complete.ttf
!Library/Fonts/SyneMono-Regular.ttf
!Library/Fonts/monofur Nerd Font Complete Windows Compatible.ttf
!Library/Fonts/Ubuntu-L.ttf
!Library/Fonts/UbuntuMono-BI.ttf
!Library/Fonts/monofur Nerd Font Complete.ttf
!Library/Fonts/Ubuntu-BI.ttf
!Library/Fonts/monofur italic Nerd Font Complete Windows Compatible.ttf
!Library/Fonts/Fira Code Light Nerd Font Complete Mono.ttf
!Library/Fonts/Ubuntu-MI.ttf
!Library/Fonts/monofur bold Nerd Font Complete Mono.ttf
!Library/Fonts/monofur italic Nerd Font Complete Mono.ttf
!Library/Fonts/monofur Nerd Font Complete Mono Windows Compatible.ttf
!Library/Fonts/Fira Code Retina Nerd Font Complete Mono Windows Compatible.ttf
!Library/Fonts/Ubuntu-R.ttf
!Library/Fonts/Fira Code Retina Nerd Font Complete Windows Compatible.ttf
!Library/Fonts/monofur italic Nerd Font Complete Mono Windows Compatible.ttf
!Library/Fonts/Fira Code SemiBold Nerd Font Complete Mono.ttf
!Library/Fonts/Ubuntu-LI.ttf
!Library/Fonts/Fira Code Retina Nerd Font Complete Mono.ttf
!Library/Fonts/Ubuntu-B.ttf
!Library/Fonts/Fira Code Regular Nerd Font Complete Mono.ttf
!Library/Fonts/Ubuntu-C.ttf
!Library/Fonts/Fira Code SemiBold Nerd Font Complete Mono Windows Compatible.ttf
!Library/Fonts/UbuntuMono-RI.ttf
!Library/Fonts/Fira Code Medium Nerd Font Complete Mono.ttf
!Library/Fonts/Fira Code Regular Nerd Font Complete Mono Windows Compatible.ttf
!Library/Fonts/UbuntuMono-R.ttf
!Library/Fonts/Fira Code Medium Nerd Font Complete.ttf
!Library/Fonts/Fira Code Medium Nerd Font Complete Windows Compatible.ttf
!Library/Fonts/monofur bold Nerd Font Complete Mono Windows Compatible.ttf
!Library/Fonts/Ubuntu-RI.ttf
!Library/Fonts/monofur italic Nerd Font Complete.ttf
!Library/Fonts/monofur bold Nerd Font Complete Windows Compatible.ttf
!Library/Fonts/UbuntuMono-B.ttf
!Library/Fonts/Fira Code SemiBold Nerd Font Complete Windows Compatible.ttf

# Never track secrets
.secrets
.pgpass
.ssh/*

# OS junk
.DS_Store
