# Ignore everything by default
*

# Whitelist dotfiles
!.gitignore
!.bash_profile
!.bashrc
!.bash_aliases
!.bash_functions

# Config directory
!.config/
!.config/terminal/
!.config/terminal/*
!.config/mc/
!.config/mc/**
.config/mc/hotlist
!.config/lazydocker/config.yml
!.config/htop/htoprc
!.config/espanso/config/default.yml
!.config/espanso/match/base.yml

# local/share directory

!.local/share/mc/syntax/
!.local/share/mc/syntax/*

!.local/share/mc/skins/
!.local/share/mc/skins/*

# Never track secrets
.secrets
.pgpass
.ssh/*

# OS junk
.DS_Store
